.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/

# Virtual environments
venv/
.venv/

# Django
db.sqlite3
media/
staticfiles/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

.coverage
coverage.xml
htmlcov/
.pytest_cache/